#topbar{
	width: 100%;
	height: 60px;
	background-color: rgb(5, 200, 255);
	color: white;
	position: fixed;
	top: 0;
	z-index: 2;
}
#user{
	position: absolute;
	height: 60px;
	line-height: 60px;
	top: 0;
	right: 0;
	padding-right: 20px;
	min-width: 150px;
}
#user:hover{
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.username{
	margin: 0 10px 0 0;
	font-size: 20px;
	float: left;
	padding-left: 20px;
}
.userimg{
	height: 40px;
	width: 40px;
	margin-top: 10px;
	border-radius: 50%;
	border: 1px white solid;
	float: left;
	overflow: hidden;
}
#ddmenu{
	width: 100%;
	display: none;
	margin-top: 60px;
	position: absolute;
	padding: 0;
	background-color: rgb(5, 200, 255);
}
.menu{
	width: 100%;
	height: 60px;
	position: relative;
	list-style: none;
	padding: 0 0 0 20px;
}
.menu:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
.menu a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
}
#user:hover #ddmenu{
	display: block;
}
#main{
	margin-top: 80px;
	max-width: 100%;
}
#karma{
	width: 500px;
	padding: 0 20px;
	box-sizing: border-box;
	margin: 0 auto;
}
#karma #fuzzy{
	position: absolute;
	border-color: transparent;
	color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
	line-height: 60px;
	box-sizing: border-box;
	font-size: 20px;
	outline: none;
	border: 2px solid transparent;
}
#karma input, #karma button{
	outline: none;
	margin: 0;
	padding: 0;
	border: 2px solid rgb(5, 200, 255);
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 20px;
	background: transparent;
	transition: background-color 0.2s, color 0.2s;
}
#karma input[type=text], #karma #fuzzy{
	height: 60px;
	width: 300px;
	border-radius: 30px;
	padding-left: 20px;
}
#karma button{
	height: 60px;
	border-radius: 30px;
	width: 100%;
	background-color: transparent;
	font-size: 20px;
	color: rgb(5, 200, 255);
	transition: background-color 0.2s, color 0.2s;
}
#karma button:hover{
	cursor: pointer;
	background-color: rgb(5, 200, 255);
	color: white;
}
#karma .success{
	border-color: rgb(50, 155, 50);
	color: rgb(50, 155, 50);
}
#karma .success:hover{
	background-color: rgb(50, 155, 50);
	color: white;
}
#karma .fail{
	border-color: red;
	color: red;
}
#karma .fail:hover{
	background-color: red;
	color: white;
}
#karma input[type=number]{
	height: 60px;
	width: 150px;
	border-radius: 30px;
	padding: 0 20px;
	float: right;
}
#karma input[type=checkbox] {
	width: 0;
	height: 0;
	visibility: hidden;
}
::-webkit-input-placeholder{
	color: rgb(5, 200, 255);
}
::-moz-input-placeholder{
	color: rgb(5, 200, 255);
}
#karma label{
	cursor: pointer;
	position: relative;;
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: right;
	background: transparent;
	border: 2px solid rgb(5, 200, 255);
	border-radius: 30px;
	box-sizing: border-box;
	color: rgb(5, 200, 255);
	font-size: 20px;
	transition: background-color 0.2s, color 0.2s;
}
#karma label i{
	opacity: 0.2;
}
#karma label:hover{
	background-color: rgb(5, 200, 255);
	color: white;
}
#karma input[type=checkbox]:checked + label{
	color: green;
	border: 2px solid rgb(50, 155, 50);
}
#karma input[type=checkbox]:checked + label i{
	opacity: 1;
}
#karma input[type=checkbox]:checked + label:hover{
	background-color: rgb(50, 155, 50);
	color: white;
}
#karma .phsvg{
	border: 1px solid black;
}
