body{
	background: url(https://source.unsplash.com/random) grey no-repeat;
	background-size: cover;
}
.mainbox{
	width: 80%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	margin-top: -40%;
	font-family: sans-serif;
	color: rgb(62, 178, 177);
	padding: 20px 0 20px 0;
}
.title{
	padding: 0;
	margin-top: 0;
	text-align: center;
}
.title img{
	display: inline-block;
	height: 100px;
}
.mainbox input{
	box-sizing: border-box;
	width: 80%;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 10%;
	color: white;
	outline: none;
	height: 40px;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: 20px;
	line-height: 25px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	transition: all 0.2s;
	box-sizing: border-box;
}
.mainbox input[type=text]:focus, .mainbox input[type=password]:focus{
	background-color: rgba(0, 128, 128, 0.3);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	border: transparent;
}
.mainbox input[type=submit]{
	background-color: transparent;
	-webkit-backdrop-filter: blur(5px);
	box-shadow: inset 0 0 0 2px rgb(62, 178, 177);
	color: rgb(62, 178, 177);
}
.mainbox input[type=submit]:hover{
	cursor: pointer;
	background: rgb(62, 178, 177);
	color: white;
}
::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.err{
	color: red;
	text-align: center;
}
.reg{
	color: white;
	text-align: center;
}
.reg a{
	color: white;
}
 @media (min-width: 600px) {
	 .mainbox{
		width: 350px;
	 	height: 300px;
		margin-left: -175px;
		margin-top: -150px;
	 }
 }
